body {
  background-color: rgb(253, 246, 227);
  color: #444;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 3%;
  padding: 1%;
}

header {
  text-transform: uppercase;
}

h2 {
  font-size: 2em;
  margin: 0.5em;
}
h3 {
  margin: 0.5em;
  text-shadow: 3px 3px 5px #888888;
}

main {
  margin: 0 auto;
}

#toggle label {
  margin: 1%;
  text-transform: capitalize;
  display: inline-block;
}

.droppable {
  border-left: 2px solid blue;
}

article {
  display: inline-block;
  width: 25%;
  padding: 2%;
  margin: 2% auto;
}

img {
  height: 100px;
  width: 200px;
  border-radius: 5px;
}

button {
  font-size: 1.2em;
  border-radius: 3px;
  border: 1px solid gray;
  margin-top: 3%;
  text-transform: capitalize;
  box-shadow: 3px 3px 2px #888888;
}

button:hover {
  font-size: 1.2em;
  border-radius: 3px;
  border: 1px solid gray;
  margin-top: 3%;
  text-transform: capitalize;
  color: gray;
  background-color: rgb(253, 246, 227);
}

.canvasjs-chart-container {
  height: 25em;
  margin: 1% auto;
  padding: 1%;
}

.canvasjs-chart-credit {
  display:none;
}

footer {
  margin-top: 35px;
  font-size: 100%;
}

/***Mobile styles***/

@media screen and (max-width: 800px) {
  #toggle {
    display: none;
  }
  footer {
    display: none;
  }
}

@media screen and (max-width: 750px) {
    h2 {
      font-size: 1.5em;
    }
    h3 {
      font-size: 0.75em;
      text-shadow: none;
    }
    img {
      height: 60px;
      width: 100px;
    }
    button {
      font-size: 1.5em;
      box-shadow: none;
    }
    button:hover {
      font-size: 1.5em;
    }

    .canvasjs-chart-container {
      margin: 20px auto;
      height: 15em;
      width: 300px;
    }

    canvas {
      max-width: 300px;
    }
}

@media screen and (max-width: 350px) {
    img {
      height: 50px;
      width: 70px;
    }

    button {
      font-size: 1.2em;
    }
    button:hover {
      font-size: 1.2em;
    }

    .canvasjs-chart-container {
      margin: 20px auto;
      height: 10em;
      width: 250px;
    }

    canvas {
      max-width: 250px;
    }

}
