body {
  background-color: rgb(253, 246, 227);
  color: #444;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 3%;
  padding: 1%;
}
h2 {
  font-size: 2em;
  margin: 0.5em;
}
h3 {
  margin: 0.5em;
}
header {
  text-transform: uppercase;
}
main {
  margin: 0 auto;
  /*border: 1px solid black;*/
}

article {
  display: inline-block;
  width: 25%;
  padding: 2%;
  margin: 2% auto;
  /*border: 1px solid black;*/
}

img {
  height: 100px;
  width: 200px;
}

button {
  font-size: 1.5em;
  border-radius: 3px;
  border: 1px solid gray;
  margin-top: 3%;
  text-transform: capitalize;
}

.canvasjs-chart-container {
  overflow: hidden;
  height: 30em;
  margin: 1% auto;
  padding: 1%;
}

label {
  display: inline-block;
}

.droppable {
  border: 2px solid blue;
}
